body {
    font-size: 12pt;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: white;
    line-height: 1.2em;
    margin-left: 8em;
    margin-right: 2em;
    background-image: url("images/spiral.png"); background-repeat: repeat-y;
   }
h1 {
    font-size: 200%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
   }
h2 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.1em;
   }